*{
    font-family: 'Signika', sans-serif;
    padding: 0;
    margin:0;
    background-color: #FDC00C;
    color: #151B4A;
}
/* header{

    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
 */
 .logo__header{
    width:100%;
    display: flex;
    justify-content: center;
}
.logo__header--img{
    width: 150px;
    display: flex;
    margin-bottom: 30px;
    margin-top: 30px;
    
}
.main__container{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main__containerpokemon{
    display: flex;
    justify-content: space-around;
}
.main__containerpokemon--fila1{
    /* background-color: blue; */
    border-radius: px;
    width: 25%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px;
}
.main__containerpokemon--fila1:hover{
    transform: scale(1.5);
    transition: 450ms all;
}
img{
    width: 50%;
    margin: 15px;
}
.pidgey{
    width: 200px;
}
